#square {
	display:block;
	position:fixed;
	width:97px;
	height:118px;
	background-image:url(images/png2.png);
	animation-name: pizza;
	animation-duration:40s;
	animation-direction: alternate-reverse;
	animation-iteration-count:infinite;
	transform: rotate(360deg);
	cursor: pointer;
}


@keyframes pizza {
	0% {top:80vh; left:5vw;}
	50% {top:50vh; left:0vw;}
	75% {top:20vh; left: 5vw;}
	100% {top:00vh;left:0vw;}
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


#square2 {
	display:block;
	position:fixed;
	width:97px;
	height:118px;
	background-image:url(images/png1.png);
	animation-name: coffee;
	animation-duration:60s;
	animation-direction: alternate-reverse;
	animation-iteration-count:infinite;
	transform: rotate(360deg);
	cursor: pointer;
}

@keyframes coffee {
	0% { top:20vh; right:5vw; }
	50% {top:30vh; right:0vw;}
	75% {top:60vh; right: 5vw;}
	100% {top:80vh;right:0vw;}
	from {
		transform: rotate(76deg);
	}
	to {
		transform: rotate(-920deg);
	}
}


#title {
	background-image:url(images/eamong_us_game_e1601565968912_560x315_2.png);
	background-repeat:no-repeat;
    background-size: 100% 100%;
  	text-align: center;
	font-family:Montserrat;
	font-weight: 600;
	font-size: 36px;
	color:rgba(255, 255, 255, 1);
  	display: block;
  	position :center;
  	max-width:844px;
  	height:439px;
  	margin:auto;

  }

#title a {
  position: relative;
  top: 50%;
  margin-top: -25px;
}

body{
	background: black;
	background-image:url(images/e2c84e7eece67af64f1c9af69649576ca_1.png);
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-attachment: right top;
	transition: background 1s ease;
}

a:link {
	text-decoration:none;
}

#topbar a{
  float:left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin:auto;
}

#topbar {
  overflow: hidden;
  background-color: black;
  margin:auto;
  max-width:844px;
}




#container{
	background: white;
	max-width:780px;
	margin:auto;
	padding: 2em;
	font-family:Montserrat;
	text-align:left;
	font-size:16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing:0;

}



#container img {
	max-width: 100%;
}



.button {
	background: black;
}

.button:hover {
	background: red;
}

#video { 
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}


.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

figure {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: smaller;
}

.slideshow-container {
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 50px;
	margin-top:50px;
	display: block;
	height:888px;
}

.slider-inner{
	margin-left:50%
	margin-right:50%
	width:620px;
	height:888px;
	float:left;

}

.slider-inner img{
	display:none;
	width:620px;
	height:888px; 
}

.slider-inner img.active{
	display:block;
}

.prev, .next{
	float:left;
	margin-top: 40%;
	cursor: pointer;
	padding: 20px;
}

.prev{
	position: relative;
	z-index: 100;
	width:40px;
	height:74px;
}
.next{
	position: relative;
	z-index:100;
	width:40px;
	height:74px;
}

.footer {
	 display: block;
 background-color: black;
 width: 100%;
 height: 50px;
}

.footer a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin:auto;
}

*{
	margin:0;
	padding: 0;
}

#bg{
	position: absolute;
	top:0;
	width: 100%;
	height: 6355px;
	mix-blend-mode:hue;
	pointer-events: none; 
}




